{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/patches/patch-detail.css' %}" />
{% endblock %} {% block content %}
<div class="page-title">
  <h1>{{ patch.name }}</h1>
</div>

<div class="patches">
  <div class="patch">
    <a href="{% url 'patch_detail' patch.id %}">
      <img src="{{patch.photo.url}}" alt="Alt text" />
    </a>
    <p>{{patch.description}}</p>
  </div>
</div>
<div class="edit-delete">
  {% if user.is_authenticated and patch.user.id == user.id %}
  <a href="{% url 'patch_update' patch.id %}" class="btn warn">Edit</a>
  <a href="{% url 'patch_delete' patch.id %}" class="btn danger">Delete</a>
  {% endif %}
</div>
{% endblock %}
