{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} {% block content %}
<div class="page-title">
  <h1>Delete Patch?</h1>
</div>

<div class="page-title">
  <h2>Are you sure you want to delete {{ patch.name }}?</h2>
</div>
<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'patch_detail' patch.id %}" class="btn secondary">Cancel</a>
  <button type="submit" class="button">Yes - Delete</button>
</form>

{% endblock %}
