{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %} 
{% block content %}
<h1>About The Patch Pit</h1>
<p>
The Patch Pit is a place for anyone who loves patches and punk style. We focus on sharing cool patch designs and ideas, with a simple, no-frills vibe. Whether you're into collecting, wearing, or just checking out patches, The Patch Pit is here to keep it real and raw — just like punk should be.
</p>
{% endblock %}
