{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <title>The Patch Pit</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %} 
    {% endblock %}
  </head>
  <body>
  <header>
 
    <nav class="navbar">

      <ul>
        <li><a href="{% url 'distro_index' %}">Distros</a></li>
        <li><a href="{% url 'patch_index' %}">Patches</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li class="nav-title"><a href="/"><img src="" alt="The Patch Pit" /></a></li>
{% if user.is_authenticated %}
<li>
Fuck you,
 <a href="{% url 'profile' user.username %}">
{{user.username}} 

    </a>
    <form id="logout-form" method="post" action="{% url 'signout' %}">
      {% csrf_token %}
      <button type="submit">Log out</button>
    </form>
</li>
  {% else %}
  <li><a href="{% url 'signin' %}">Sign In</a></li>
  <li><a href="{% url 'signup' %}">Sign Up</a></li>
</ul>
  {% endif %}
      </nav>

    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
    </section>
  </body>
</html>
