{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
{% endblock %} {% block content %}
<div class="page-title">
  <h1>Contact</h1>
</div>
<div class="contact">
  <div>
    <p>Email:</p>

    <p>thepatchpitsite@gmail.com</p>
  </div>
  <div>
    <p>Instagram:</p>

    <a href="https://www.instagram.com/thepatchpitsite/">@thepatchpitsite</a>
  </div>
    <div>
    <p>Facebook:</p>

    <a href="https://www.facebook.com/thepatchpit">@thepatchpit</a>
  </div>
</div>
{% endblock %}
