{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

{% if not user.is_authenticated %}
<section>
  <div class="page-title">
    <h1>Sign In</h1>
</div>

<div class="login">
  <form action="" method="post" class="login">
    {% csrf_token %} 
    <table>
      {{ form.as_table }}
</table>
  </div>
  <div class="button-wrapper">
    <button type="submit" class="button">Sign In</button>
    </div>
  </form>

</section>
{% endif %}

{% endblock %}