body {
  background-color: black;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
}

.page-title {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 50px 50px 50px;
}