body {
  background-color: black;
  color: white;
}

.page-title {
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}